.img__box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.img__box:nth-child(2) {
  left: 50px;
  z-index: 9;
}
.img__box:nth-child(3) {
  left: 100px;
  z-index: 8;
}
.img__box:nth-child(4) {
  left: 150px;
  z-index: 7;
}
.img__box:nth-child(5) {
  left: 200px;
  z-index: 6;
}
.img__box:nth-child(6) {
  left: 250px;
  z-index: 5;
}
.box__border {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: linear-gradient(45deg, rgba(128, 26, 178, 1) 0%, rgba(76, 76, 255, 1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background: black;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}