.container {
  max-width: 1240px;
  display: flex;
  gap: 40px;
}
.main {
  width: 100%;
  display: flex;
  justify-content: center;
}
.box {
  width: 100%;
  height: calc(100vh - 88px);
  display: flex;
  align-items: center;
  justify-content: center;
}