.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img {
  margin-bottom: 16px;
  pointer-events: none;
  user-select: none;
}
.name {
  margin-bottom: 32px;
}
.description {
  display: flex;
  gap: 20px;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}